.tech__container {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 30% 0 10% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tech__picture-portrait {
    display: none;
}

.tech__picture-landscape img {
    width: 100%;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tech__button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    color: var(--white);
    font-family: "Bellefair", serif;
    font-size: 1rem;
    height: 40px;
    text-align: center;
    width: 40px;
}

.button-active {
    background-color: var(--white);
    color: black;
}

.tech__buttons button:hover {
    border: 1px solidvar(--white);
    transition: all ease 0.5s;
}

.tech__buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 7% 15%;
}

.tech__title {
    color: var(--white);
    font-family: "Barlow Condensed";
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.2953rem;
    line-height: 2.125rem;
    padding: 3% 0;
}

.tech__title::before {
    content: "03";
    opacity: 0.5;
    margin-right: 10px;
}

.tech__subtitle {
    color: var(--soft-purple);
    font-family: "Barlow Condensed";
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1688rem;
    line-height: 1.4rem;
}

.tech__name {
    color: var(--white);
    font-family: "Bellefair", serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 2% 1%;

}

.tech__description {
    color: var(--soft-purple);
    font-family: "Barlow condensed";
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2rem;
    text-align: center;
    padding: 0 3%;
}

.tech__name,
.tech__subtitle,
.tech__title {
    text-transform: uppercase;
}