.tech__container {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 10%;
}
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tech__button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    font-family: "playfair display", serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 30% 0;
    cursor: pointer;
}

.button-active {
    background-color: white;
    color: black;    
}

.tech__buttons button:hover {
    background-color: white;
    color: black;
    transition: all ease 0.8s;
}

.tech__info {
    width: 40%;
}

.tech__buttons {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.tech__title {
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    margin-left: 9%;
}
.tech__title::before {
    content: "03";
    font-weight: 700;
    opacity: 0.5;
    margin-right: 1.5%;
}

.tech__subtitle {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
}

.tech__name {

    font-family: 'playfair display';
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 5% 0;
}

.tech__description {
    font-family: 'Barlow condensed';
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    color: #D0D6F9;
    font-weight: lighter;
    width: 75%;
}