.tech__container {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
    padding-top: 10%;
}

.content-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tech__button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    color: var(--white);
    font-family: "Bellefair", serif;
    font-size: 1.5rem;
    height: 80px;
    margin: 30% 0;
    text-align: center;
    width: 80px;
}

.button-active {
    background-color: white;
    color: black;
}

.tech__buttons button:hover {
    border: 1px solid white;
    transition: all ease 0.5s;
}

.tech__info {
    margin-left: 2%;
    width: 45%;
}

.tech__buttons {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    width: auto;
}

.tech__title {
    color: #FFFFFF;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.725px;
    line-height: 34px;
    margin-left: 9%;
    text-transform: uppercase;
}

.tech__title::before {
    content: "03";
    font-weight: 700;
    margin-right: 1.5%;
    opacity: 0.5;
}

.tech__subtitle {
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2.7px;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.tech__name {
    color: #FFFFFF;
    font-family: "Bellefair", serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 64px;
    margin: 6% 0;
    text-transform: uppercase;
}

.tech__description {
    color: #D0D6F9;
    font-family: 'Barlow condensed';
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 2rem;
    width: 90%;
}