.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0 55px;
  position: absolute;
  width: 100%;
}
.horizontal-line {
  background-color: #979797;
  border: none;
  height: 1px;
  left: 12%;
  position: absolute;
  width: 35%;
  z-index: 2;
}
.nav {
  align-items: center;
  display: flex;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.125);
  height: 96px;
  justify-content: center;
  -webkit-backdrop-filter: blur(4px);
  width: 830px;
}
.nav__item {
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  list-style: none;
  margin-right: 50px;
  padding: 35px 0;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__item:hover {
  color: var(--white);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 35px 0 32px;
}
.active {
  border-bottom: 3px solid var(--white);
}
.nav__item::before {
  font-weight: bold;
  padding-right: 10px;
}
.nav__item-00::before {
  content: "00";
}
.nav__item-01::before {
  content: "01";
}
.nav__item-02::before {
  content: "02";
}
.nav__item-03::before {
  content: "03";
}
