.horizontal-line, .nav {
  display: none;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 20px 24px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.nav {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 25
  5, 0.125);
  border: none;
  flex-direction: column;
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;
  letter-spacing: 0.15rem;
  list-style: none;
  padding: 100px 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  width: 80%;
   -webkit-backdrop-filter: blur(20px);
}

.nav__item {
  margin: 15px;
}
.nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.nav__item::before {
  font-weight: bold;
  padding-right: 10px;
}

.nav__item-00::before {
  content: "00";
}

.nav__item-01::before {
  content: "01";
}

.nav__item-02::before {
  content: "02";
}

.nav__item-03::before {
  content: "03";
}

.icon-close {
  width: 6%;
  position: absolute;
  right: 30px;
  top: 30px;
}