.crew__container {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
}

.crew__main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 28%;
}

.crew__title {
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  width: 100%;
  text-align: center;
}
.crew__title,
.crew__title::before {
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  line-height: 2.125rem;
  text-transform: uppercase;
}

.crew__title::before {
  content: "02";
  font-weight: 700;
  margin-right: 1.5%;
}
.crew__picture {
  display: flex;
  width: 100%;
}
.crew__picture img {
  width: 50%;
  margin: 10% auto;
  border-bottom: 1px solid #383B4B;
  ;
}
.buttons__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.crew__buttons {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 15px;
  margin: 6% 3% 10%;
  opacity: 0.17;
  width: 15px;
}
.crew__buttons:hover,
.crew__title::before,
.crew__role {
  opacity: 0.5;
}
.crew__buttons-active {
  opacity: 1;
}

.crew__text-content {
  width: 100%;
text-align: center;
}
.crew__role,
.crew__name {
  color: var(--white);
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

.crew__role {
  font-size: 1rem;
  font-weight: 400;
}

.crew__name {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.crew__bio {
  color: var(--soft-purple);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.8rem;
  margin: 1% auto;
  width: 80%;
  text-align: center;
}
