@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0B0D17;
    --soft-purple: #D0D6F9;
    --white: #FFFFFF;
}
button, Link, NavLink {
    cursor: pointer;
}



